#git-logo { margin-bottom: 30px; }

h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }

.fit-to-width {
  width: 100%;
}
.offset-top {
  margin-top: 30px;
}
main.container { padding: 80px 0 60px 0; }

nav.navbar-default {
  min-width: 960px;
}

.figure-center {
  width: 720px;
  margin: 20px auto;
}

main.container,
main.container > section.slide { width: 960px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.slide.ng-enter {
  -webkit-transition:250ms ease-in all;
  transition:250ms ease-in all;
}
.slide.ng-leave {
  -webkit-transition:250ms ease-out all;
  transition:250ms ease-out all;
}
.slide.ng-animate { position: absolute; }

.slide.ng-enter {
    /* starting animations for enter */
    opacity: 0;
    transform: translateX(-25px);
}
.slide.ng-enter.ng-enter-active {
    /* terminal animations for enter */
    opacity: 1;
    transform: translateX(0);
}
.slide.ng-leave {
    /* starting animations for leave */
    opacity: 1;
    transform: translateX(0);
}        
.slide.ng-leave.ng-leave-active {
    /* starting animations for leave */
    opacity: 0;
    transform: translateX(100px);
} /* terminal animations for leave */


.slideVert.ng-enter {
  -webkit-transition:250ms ease-in all;
  transition:250ms ease-in all;
}
.slideVert.ng-leave {
  -webkit-transition:250ms ease-out all;
  transition:250ms ease-out all;
}
.slideVert.ng-animate { position: absolute; }

.slideVert.ng-enter {
    /* starting animations for enter */
    opacity: 0;
    transform: translateY(-25px);
}
.slideVert.ng-enter.ng-enter-active {
    /* terminal animations for enter */
    opacity: 1;
    transform: translateY(0);
}
.slideVert.ng-leave {
    /* starting animations for leave */
    opacity: 1;
    transform: translateY(0);
}        
.slideVert.ng-leave.ng-leave-active {
    /* starting animations for leave */
    opacity: 0;
    transform: translateY(75px);
} /* terminal animations for leave */

.carousel { margin-bottom: 30px; }
.carousel-caption {
  color: #000;
  text-shadow: none;
}

.carousel-indicators li {
  border-color: #000;
}

.carousel-indicators li.active {
  background-color: #000;
}

.not-staged { color: #d43628; }
.staged { color: #00bd38;}